.layout-wrapper {
  text-align: center;
  min-height: 100%;
}

.header {
  width: 100vw;
  padding: 0.2em;
  position: absolute;
  top: 0;
  z-index: 10;
}

.cmc-widget {
  float: right;
  zoom: 0.3;
  -moz-transform: scale(0.3);
}

.faucet-content {
  padding: 0 0.2em 0.2em;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
}

.coinpot-content {
  padding: 0.2em;
  height: 97vh;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.content {
  padding: 0.2em;
  margin-top: 0;
  width: 100vw;
  position: relative;
  bottom: 0;
}

.coins-content {
  padding: 0.2em;
  margin-top: 0;
  width: 100vw;
  position: relative;
  bottom: 0;
}

.nav-menu {
    text-align: left;
    padding-left: 1em;
    padding-top: 2em;
    list-style-type: none;
    font-size: large;
    font-weight: bolder;

    .link {
      padding-bottom: 2em;
    }

  .logo {
    padding-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
  }
}
